@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./fonts.css";
@import "./OTP.css";
@import "./categoryForm.css";

.left-direction {
  direction: ltr;
}

td,
th {
  border: 2px solid gray;
  padding: 10px;
}
th {
  letter-spacing: 2px;
}
